html {
    font-size: 14px;
    overflow-y: scroll;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* Home page carousel */

.carousel .carousel-item {
    height: 35vh;
}

.carousel-item img {
    object-fit: cover;
    height: 100%; 
    width: 100%;
}

/*Home page banner */

.cosmosBackground {
    background-image: url('/images/lookAtCosmos.jpeg');
    min-height: 25vh;
    background-size: cover; /* Scale the image to cover the entire element */
    background-position: center; /* Center the image */
}

/*Home page cards */

.card {
    border: none;
}

/*Home page mid page banner */

.intoTheCosmosBackground {
    background-image: url('/images/intoTheCosmos.jpeg');
    min-height: 25vh;
    background-size: cover; /* Scale the image to cover the entire element */
    background-position: center; /* Center the image */
}

/*nav bar*/

.navbar .shopping-basket-icon {
    width: 32px;
    height: 32px;
    background-color: white;
}

body {
    padding-top: 60px; /* Adjust this value to match your navbar's height */
}

/*background colors */

.greyButtonColour {
    background-color: rgb(183,183,183);
}

.blackButtonColour {
    background-color: rgb(53,55,53);
}

.greenButtonColour {
    background-color: rgb(42, 135, 115);
}

.greenButtonColourImportant {
    background-color: rgb(42, 135, 115) !important;
}

/*image max height */

.maxHeight50vh {
    max-height: 50vh;
    max-width: 100%;
}

/*search input outline */

#searchInput:focus {
    outline: none;
    box-shadow: none;
    border-color: inherit;
}

