@model IEnumerable<TelescopeShop.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>


@if (User.IsInRole("Admin"))
{
    <h2>Hello, admin. Edit the products on this page.</h2>
    <p>
        <a asp-action="AdminView">Admin Product view</a>
    </p>
}

<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                <div class="card">
                    <img src="@item.ImageUrl" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">@item.Name</h5>
                        <p class="card-text">@item.Price</p>
                        <form asp-action="AddToBasket" asp-controller="Basket" method="post">
                            <input type="hidden" name="productId" value="@item.Id" />
                            <input type="number" name="quantity" value="1" min="1" />
                            <button type="submit" class="btn btn-primary">Add to Basket</button>
                        </form>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

