@model TelescopeShop.Models.Product



<div class="container mt-3 border">
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12">
            <a class="nav-link text-light btn greyButtonColour" asp-area="" asp-controller="Products" asp-action="Index"> Back to product catalogue</a>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <h1>@Model.Name</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p class="fs-3">£@Model.Price</p>
        </div>
    </div>
    <div class="row">
        <div class="col d-flex justify-content-center">
            <img src="@Model.ImageUrl'" class="maxHeight50vh border" alt="Product image">
        </div>
    </div>
    <div class="row mt-5 fs-5">
        <div class="col">
            <p>@Model.Description</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <form asp-action="AddToBasket" asp-controller="Basket" method="post">
                <input type="hidden" name="productId" value="@Model.Id" />
                <button type="submit" class="btn blackButtonColour text-light">Add to Basket</button>
            </form>
        </div>
    </div>
</div>







