@model TelescopeShop.Models.Product

<a class="nav-link text-dark" asp-area="" asp-controller="Products" asp-action="Index">Back to product catalogue</a>


<h1>@Model.Name</h1>
<p>@Model.Description</p>
<p>Price: @Model.Price</p>
